/**
 * Solarized Light JG theme for reveal.js.
 * Author: Achim Staebler, Modified by Jonathan GIlligan
 */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,400italic,700italic);
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdf6e3;
  background-color: #fdf6e3; }

.reveal {
  font-family: "Noto Sans", sans-serif;
  font-size: 52px;
  font-weight: normal;
  color: #657b83; }

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: "PT Sans", Impact, sans-serif;
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal h1 {
  margin-bottom: 50px; }

.reveal .h3 {
  margin-top: 10px; }

.reveal .subtitle {
  font-size: 52px; }

.reveal .author {
  font-size: 1.2em;
  text-transform: none; }

.reveal .date {
  font-size: 0.8em; }

.reveal blockquote {
  box-shadow: none; }

.reveal ol {
  margin-left: 2em; }

.reveal sub {
  font-size: 60%; }

.reveal sup {
  font-size: 60%; }

.reveal .small {
  font-size: 0.6em;
  line-height: 1.2em; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0; }

.reveal code {
  font-family: "Anonymous Pro", monospace;
  color: #268bd2; }

.reveal pre code {
  font-size: 1.3em;
  line-height: 1.2em;
  font-family: "Anonymous Pro", monospace;
  color: #134671;
  background-color: #C0C0C0;
  display: block;
  padding: 5px;
  max-height: 100%;
  overflow: visible;
  word-wrap: normal; }

.reveal .slides .leftslide section,
.reveal .slides .leftslide div,
.reveal .leftslide p,
.reveal .leftslide ul,
.reveal .leftslide ol,
.reveal .leftslide li,
.reveal .leftslide blockquote {
  text-align: left; }

.reveal .slides .leftslide section,
.reveal .slides .leftslide div,
.reveal .leftslide p,
.reveal .leftslide ul,
.reveal .leftslide ol,
.reveal .leftslide li {
  width: 100%; }

.reveal .leftslide p,
.reveal .leftslide ul,
.reveal .leftslide ol {
  margin-left: 1em; }

.reveal .leftslide h1,
.reveal .leftslide h2 {
  text-align: center; }

.reveal .toptitle h1,
.reveal .toptitle h2 {
  top: 50px;
  margin-bottom: 6in; }

.reveal .whitetitle h1,
.reveal .whitetitle h2,
.reveal .whitetitle h3,
.reveal .whitetitle h4,
.reveal .whitetitle h5 {
  color: white; }

.reveal .yellowtitle h1,
.reveal .yellowtitle h2,
.reveal .yellowtitle h3,
.reveal .yellowtitle h4,
.reveal .yellowtitle h5 {
  color: yellow; }

.reveal .blacktitle h1,
.reveal .blacktitle h2,
.reveal .blacktitle h3,
.reveal .blacktitle h4,
.reveal .blacktitle h5 {
  color: black; }

.blacktext p,
.blacktext li,
.blacktext ul,
.blacktext ol {
  color: black; }

.reveal .yellowtext p,
.reveal .yellowtext li,
.reveal .yellowtext ul,
.reveal .yellowtext ol {
  color: yellow; }

.reveal .ninetyfive {
  font-size: 95%; }

.reveal .ninety {
  font-size: 90%; }

.reveal .eightyfive {
  font-size: 85%; }

.reveal .eighty {
  font-size: 80%; }

.reveal .seventyfive {
  font-size: 75%; }

.reveal .seventy {
  font-size: 75%; }

.reveal .slides section .fragment.hightlight-green.visible {
  color: #4fa843;
  font-weight: bold; }

.reveal .hidetitle h1,
.reveal .hidetitle h2 {
  display: none; }

.reveal h1 {
  font-size: 2.0em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1.25em; }

.reveal h4 {
  font-size: 1em; }

.reveal .slides > section,
.reveal .slidex > section > section {
  padding: 0px 0px; }

.reveal table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: gray;
  border-collapse: collapse;
  font-size: 0.7em; }

.reveal table th {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: gray; }

.reveal table td {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: gray; }

.reveal .noborder table,
.reveal .noborder thead,
.reveal .noborder tbody,
.reveal .noborder th,
.reveal .noborder tr,
.reveal .noborder td,
.reveal table.noborder,
.reveal table.noborder thead,
.reveal table.noborder tbody,
.reveal table.noborder th,
.reveal table.noborder tr,
.reveal table.noborder td {
  border-style: none; }

.reveal .leftlist ol,
.reveal .leftlist ul {
  width: 100%; }

.reveal .stretch code {
  max-height: 100%; }
