---
title: Parameterization and Calibration
class_date: '2018-03-29'
class_number: 22
weight: 22
slug: reading_22
pubdate: '2018-01-01'
date: '2018-03-29'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 20.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p><strong>Errata for Chapter 20:</strong></p>
<ul>
<li><p>Section 20.5, p. 264:
The first bullet of the description of the simple trait for how subordinate adults decide whether to scout should say,
“If there are no <em>older</em> subordinate adults” instead of “other subordinate adults”.</p></li>
<li><p>Section 20.7, Exercise 2:
The model equation has parentheses in the wrong place. It should be:
<span class="math display">\[ N_t = N_{t-1} + r N_{t-1} [ 1 - (N_{t-1} / K)] - H_{t-1}\]</span></p></li>
</ul>
</div>
</div>
