---
title: Observation
class_date: '2018-02-13'
class_number: 10
weight: 10
slug: reading_10
pubdate: '2018-01-01'
date: '2018-02-13'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Homework #7 is due today: Railsback &amp; Grimm, Ch. 6, Ex. 6.2, 6.3, 6.5 (everyone) and Ex. 6.4, 6.7 (grad. students). See the homework assignment sheet for details.</p>
</div>
<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 9.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>In this chapter, we examine how to detect and record the properties of a model
that we want to study.</p>
<p>The article, D. Kornhauser, <a href="http://jasss.soc.surrey.ac.uk/12/2/1.html">U. Wilensky, and W. Rand. (2009). “Design guidelines
for agent-based model visualization,” <em>Journal of Artificial Societies and Social
Simulation</em> <strong>12</strong>, 1</a>
is available online at <a href="http://jasss.soc.surrey.ac.uk/12/2/1.html" class="uri">http://jasss.soc.surrey.ac.uk/12/2/1.html</a>.</p>
<p>I have posted a <a href="/files/models/chapter_09/ch9_ex8_Netlogo_exercises.pdf">refresher guide</a>
for NetLogo programming on the class web site at <a href="https://ees4760.jgilligan.org/files/models/chapter_09/ch9_ex8_Netlogo_exercises.pdf" class="uri">https://ees4760.jgilligan.org/files/models/chapter_09/ch9_ex8_Netlogo_exercises.pdf</a></p>
<p><strong>Errata for Chapter 9:</strong></p>
<ul>
<li><p>Section 9.3, p. 119:
The discussion of histograms mentions potential difficulties setting the
<em>x</em> axis to a useful range, so all the bars are visible. One solution is to
use the <code>set-plot-x-range</code> primitive. For example, add this statement:</p>
<pre><code>set-plot-x-range (min [elevation] of turtles) 
    (max [elevation] of turtles)</code></pre>
<p>just before the statement:</p>
<pre><code>histogram [elevation] of turtles</code></pre>
<p>Or, if the histogram should always
start at zero:</p>
<pre><code>set-plot-x-range 0 max [elevation] of turtles</code></pre>
<p>(You may need to use primitives such as <code>ceiling</code> and <code>precision</code> to convert
the inputs to <code>set-plot-x-range</code> to nice round numbers.)</p></li>
</ul>
</div>
</div>
