---
title: Interaction
class_date: '2018-02-22'
class_number: 14
weight: 14
slug: reading_14
pubdate: '2018-01-01'
date: '2018-02-22'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 13.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p><strong>Errata for Chapter 13:</strong></p>
<ul>
<li>Section 13.6, p. 180:
Starting with version 5.0 of NetLogo, the Programming Guide no longer says
that putting items on a list using <code>fput</code> is better (faster) than putting them
on the end of the list using <code>lput</code>.
NetLogo’s lists were reprogrammed to eliminate this difference and improve the
speed of adding and accessing list items.</li>
</ul>
</div>
</div>
