---
title: Theory Development
class_date: '2018-03-27'
class_number: 21
weight: 21
slug: reading_21
pubdate: '2018-01-01'
date: '2018-03-27'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 19.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>There is an implementation of the <a href="/files/models/chapter_19/ch19_ex2_wood_hoopoes.nlogo">wood hoopoe model</a>, suitable for Exercise 2, on the class web site: <a href="https://ees4760.jgilligan.org/files/models/chapter_19/ch19_ex2_wood_hoopoes.nlogo" class="uri">https://ees4760.jgilligan.org/files/models/chapter_19/ch19_ex2_wood_hoopoes.nlogo</a></p>
</div>
</div>
