---
title: Stochasticity
class_date: '2018-03-21'
class_number: 18
weight: 18
slug: reading_18
pubdate: '2018-01-01'
date: '2018-03-21'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 15.</li>
</ul>
</div>
