---
title: Scheduling
class_date: '2018-03-20'
class_number: 17
weight: 17
slug: reading_17
pubdate: '2018-01-01'
date: '2018-03-20'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 14.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>A good example of synchronous updating is the
<a href="/files/models/chapter_23/Ch_23_4_breeding_synchrony.nlogo">model of breeding synchrony</a>,
described in <a href="/files/models/chapter_05/Jovani_Grimm_2008_Breeding.pdf">Jovani and Grimm (2008)</a>
and in Chapter 23, which I have posted on the class web site:
<a href="https://ees4760.jgilligan.org/files/models/chapter_23/Ch_23_4_breeding_synchrony.nlogo" class="uri">https://ees4760.jgilligan.org/files/models/chapter_23/Ch_23_4_breeding_synchrony.nlogo</a></p>
<p><strong>Errata for Chapter 14:</strong></p>
<ul>
<li><p>Section 14.2.3, p. 187:
The <code>foreach</code> statement in the example code for executing turtles in size order
is not compatible with NetLogo versions 6.0 and higher.
For version 6.0.2, the statement should be:</p>
<pre><code>foreach sort-on [size] turtles
[
    next-turtle -&gt; ask next-turtle [do-sales]
]</code></pre></li>
<li><p>Section 14.2.5, p. 189:
This code statement:</p>
<pre><code>while [count patches with [trigger-time &gt; ticks] &gt; 0] </code></pre>
<p>should of course be:</p>
<pre><code>while [any? patches with [trigger-time &gt; ticks] ] </code></pre>
<p>(This Mousetrap model also has a small flaw: it does not represent the
possibility that a trap scheduled to be triggered by one ball could be
triggered sooner by a different ball that is launched later but has a
shorter trajectory.)</p></li>
</ul>
</div>
</div>
