---
title: Prediction
class_date: '2018-02-20'
class_number: 13
weight: 13
slug: reading_13
pubdate: '2018-01-01'
date: '2018-02-20'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 12.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>In class, we will discuss the telemarketer model.</p>
<p>For the teams working on the telemarketer model, the steps are:</p>
<ol style="list-style-type: decimal">
<li>Build the model as described in the ODD.</li>
<li>Do the analyses in section 13.3.2</li>
<li>Next work on two extensions:
<ol style="list-style-type: decimal">
<li>Mergers (section 13.5)</li>
<li>Customers remember (section 13.6)</li>
</ol></li>
</ol>
<p>Before class on Thursday, everyone should read Chapter 13 and the ODD for the telemarketer model and be ready to discuss the model in class.
This will be a chance for the teams working on the model to ask questions.</p>
</div>
</div>
