---
title: 'Looking Ahead: ABMs Beyond this Course'
class_date: '2018-04-12'
class_number: 26
weight: 26
slug: reading_26
pubdate: '2018-01-01'
date: '2018-04-12'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 24.</li>
</ul>
</div>
