---
title: Your first model
class_date: '2018-01-23'
class_number: 5
weight: 5
slug: reading_05
pubdate: '2018-01-01'
date: '2018-01-23'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Homework #4 is due today: Railsback &amp; Grimm, Ch. 2, Ex. 3–4. and Ch. 3, Ex. 3. See the homework assignment sheet for details.</p>
</div>
<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 4.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>For the reading, read Chapter 4 in <em>Agent-Based Modeling</em> first and focus mostly on this chapter.</p>
<p>It is worth noting that the Sugarscape model you read about for Jan. 11 is very similar to the hilltopping model. Sugarscape was part of a very influential research project in the 1990s, in which Joshua Epstein and Robert Axtell showed that a very simple model could reproduce complex biological and economic phenomena that are observed in real societies and ecosystems. You may find it interesting at this point to look back at the “Artificial Societies” article and to play with the Sugarscape model in NetLogo.</p>
<p>You can downlload an <a href="/files/models/chapter_04/butterfly_model_ODD.txt">ODD for the butterfly model</a>, which is suitable to paste into the “Info” tab in NetLogo, from the class web site: <a href="https://ees4760.jgilligan.org/files/models/chapter_04/butterfly_model_ODD.txt" class="uri">https://ees4760.jgilligan.org/files/models/chapter_04/butterfly_model_ODD.txt</a></p>
</div>
</div>
