---
title: 'Specifying models: The ODD protocol'
class_date: '2018-01-18'
class_number: 4
weight: 4
slug: reading_04
pubdate: '2018-01-01'
date: '2018-01-18'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Homework #3 is due today: Railsback &amp; Grimm, Ch. 2, Ex. 1–2. See the homework assignment sheet for details.</p>
</div>
<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 3.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>You can download several useful documents related to the ODD protocol from the class web site:</p>
<ul>
<li>The journal article, <a href="/files/odd/Grimm_2010_ODD_update.pdf">V. Grimm <em>et al.</em> (2010). “The ODD protocol: A review and first update” <em>Ecological Modeling</em> <strong>221</strong>, 2760–68.</a>. <a href="https://ees4760.jgilligan.org/files/odd/Grimm_2010_ODD_update.pdf" class="uri">https://ees4760.jgilligan.org/files/odd/Grimm_2010_ODD_update.pdf</a></li>
<li>A Word document that provides <a href="/files/odd/Grimm_2010_odd_template.docx">a template for writing ODDs</a>: <a href="https://ees4760.jgilligan.org/files/odd/Grimm_2010_odd_template.docx" class="uri">https://ees4760.jgilligan.org/files/odd/Grimm_2010_odd_template.docx</a></li>
<li>Lists of scientific publications using agent-based and individual-based models that either do or don’t use the ODD protocol (this appeared as <a href="/files/odd/Grimm_2010_appendix_1.pdf">Appendix 1</a> of the Grimm <em>et al.</em> paper):
<a href="https://ees4760.jgilligan.org/files/odd/Grimm_2010_appendix_1.pdf" class="uri">https://ees4760.jgilligan.org/files/odd/Grimm_2010_appendix_1.pdf</a>, <a href="https://ees4760.jgilligan.org/files/odd/ch3_ex1_pubs_with_no_ODD.pdf" class="uri">https://ees4760.jgilligan.org/files/odd/ch3_ex1_pubs_with_no_ODD.pdf</a>, <a href="https://ees4760.jgilligan.org/files/odd/ch3_ex2_pubs_with_ODD.pdf" class="uri">https://ees4760.jgilligan.org/files/odd/ch3_ex2_pubs_with_ODD.pdf</a>.</li>
</ul>
</div>
</div>
