---
title: Choosing Research Projects
class_date: '2018-02-01'
class_number: 8
weight: 8
slug: reading_08
pubdate: '2018-01-01'
date: '2018-02-01'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Homework #6 is due today: Railsback &amp; Grimm, Ch. 5, Ex. 5.11 (grad. students). See the homework assignment sheet for details.</p>
</div>
<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 7.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>There is not very much reading for today. Read Chapter 7 of <em>Agent-Based Modeling</em> carefully (it’s very short) The point of this chapter is to help you get ideas for your term research project.</p>
<p>Before class, I want you to read through the research project assignment and think about what you might want to do for a research project. We will spend class talking about possible research projects.</p>
</div>
</div>
