---
title: Patterns
class_date: '2018-03-22'
class_number: 20
weight: 20
slug: reading_20
pubdate: '2018-01-01'
date: '2018-03-22'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 17–18.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>You can download <a href="/files/models/chapter_18/ch18_before_ODD.pdf">the ODD for the BEFORE beech forest model</a>, which is described in section 18.3, from the class web site: <a href="https://ees4760.jgilligan.org/files/models/chapter_18/ch18_before_ODD.pdf" class="uri">https://ees4760.jgilligan.org/files/models/chapter_18/ch18_before_ODD.pdf</a>.</p>
<p>I have also posted <a href="/files/models/chapter_18/ch18_ex1_models_list.pdf">a list of published models</a> in which observed patterns are important: <a href="https://ees4760.jgilligan.org/files/models/chapter_18/ch18_ex1_models_list.pdf" class="uri">https://ees4760.jgilligan.org/files/models/chapter_18/ch18_ex1_models_list.pdf</a></p>
</div>
</div>
