---
title: Sensitivity and Robustness
class_date: '2018-04-10'
class_number: 25
weight: 25
slug: reading_25
pubdate: '2018-01-01'
date: '2018-04-10'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="reading" class="section level2">
<h2>Reading:</h2>
<ul>
<li>Railsback &amp; Grimm, Ch. 23.</li>
</ul>
<div id="reading-notes" class="section level3">
<h3>Reading Notes:</h3>
<p>You can download the <a href="/files/models/chapter_23/">model of breeding synchrony</a>Ch_23_4_breeding_synchrony.nlogo), described in <a href="/files/models/chapter_05/Jovani_Grimm_2008_Breeding.pdf">Jovani and Grimm (2008)</a> and in section 23.4, from the class web site: <a href="https://ees4760.jgilligan.org/files/models/chapter_23/)Ch_23_4_breeding_synchrony.nlogo" class="uri">https://ees4760.jgilligan.org/files/models/chapter_23/)Ch_23_4_breeding_synchrony.nlogo</a></p>
</div>
</div>
