
{{ define "body" }}
<body class="landing-page">
  {{ partial "nav-fixed-top.html" . }}
  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('{{ .Site.Params.background | relURL }}');">
      <div class="container">
        <div class="row">
					<div class="col-md-6">
              <h1 class="title">{{ .Title }}</h1>
              <h4>{{ .Params.description }}</h4>
              <br />
					</div>
        </div>
      </div>
    </div>
		<div class="main main-raised">
			<div class="container">
		  	<div class="section text-center section-landing">
		  	  <div class="row">
		  	    <div class="col-md-6 col-md-offset-3">
	            {{ .Content }}
	          </div>
          </div>
          <div class="row">
            <div class="col_md-6 col_md-offset-3">
              <ol>
                {{ range .Pages }}
                  <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>: {{.Params.descr}}
                  </li>
                {{ end }}
              </ol>
            </div>
          </div>
	      </div>
      </div>
		</div>
    {{ partial "footer" . }}
	</div>
</body>
{{ end }}
