---
title: Research project draft model code
due_date: '2018-03-29'
weight: 14
slug: draft_code
pubdate: '2018-01-01'
date: '2018-03-29'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="research-project-draft-model-code" class="section level2">
<h2>Research Project Draft Model Code</h2>
<p>Turn in the following homework on Box by 11:59 pm on Thursday, Mar. 29:</p>
<ul>
<li>Draft NetLogo code for your model. This does not need to be
perfect, but it should check without syntax errors and it shoudl run, even
if there are problems with its behavior.
The point is to check in on where you are with the coding so I can give you
feedback.</li>
<li>A document describing what you’re satisfied with and what problems you’re
struggling with.</li>
</ul>
<p><a href="/assignment/ResearchProjectAssignment.pdf">Detailed project assignment</a>
<a href="https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf</a></p>
</div>
