---
title: Set up Box and NetLogo
due_date: '2018-01-11'
assignment_number: 1
weight: 1
slug: homework_01
pubdate: '2018-01-01'
date: '2018-01-11'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p><strong>There is nothing for you to turn in</strong>, but do the following two tasks to prepare for next week:</p>
<ul>
<li>Download NetLogo version 6.0.2 from <a href="https://ccl.northwestern.edu/netlogo/" class="uri">https://ccl.northwestern.edu/netlogo/</a> and install it on your computer.</li>
<li>Set up your Box account. Make a Box folder for your homework for this course (call it <code>Lastname_EES_4760</code> (undergraduates) or <code>Lastname_EES_5760</code> (graduate students), substituting your own last name), and share it with me, giving me “Editor” role.</li>
</ul>
</div>
