---
title: 'Science with models: Butterfly mating'
due_date: '2018-01-30'
assignment_number: 5
weight: 5
slug: homework_05
pubdate: '2018-01-01'
date: '2018-01-30'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Turn in the following homework on Box by 11:59 pm:</p>
<ul>
<li><strong>Everyone:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 4, Ex. 4.2, 4.4</li>
<li>Railsback &amp; Grimm, Ch. 5, Ex. 5.1–5.5.</li>
</ul></li>
<li><strong>Graduate Students:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 5, exercises 5.6–5.7.</li>
</ul></li>
</ul>
</div>
