---
title: Analyzing model experiments
due_date: '2018-02-15'
assignment_number: 8
weight: 9
slug: homework_08
pubdate: '2018-01-01'
date: '2018-02-15'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Turn in the following homework on Box by 11:59 pm:</p>
<ul>
<li><strong>Everyone:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 8, Ex. 8.1, 8.2</li>
<li>Railsback &amp; Grimm, Ch. 9, Ex. 9.1, 9.3, 9.4</li>
</ul></li>
<li><strong>Graduate Students:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 8, Ex. 8.3, 8.4</li>
<li>Railsback &amp; Grimm, Ch. 9, Ex. 9.6</li>
</ul></li>
</ul>
</div>
