---
title: Programming agent sensing
due_date: '2018-02-19'
assignment_number: 9
weight: 10
slug: homework_09
pubdate: '2018-01-01'
date: '2018-02-19'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Turn in the following homework on Box by 11:59 pm:</p>
<ul>
<li><strong>Everyone:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 10, Ex. 10.1, 10.2</li>
<li>Railsback &amp; Grimm, Ch. 11, Ex. 11.1, 11.2</li>
</ul></li>
<li><strong>Graduate Students:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 11, Ex. 11.3</li>
</ul></li>
</ul>
</div>
