---
title: Reproducing a model from its ODD
due_date: '2018-02-01'
assignment_number: 6
weight: 6
slug: homework_06
pubdate: '2018-01-01'
date: '2018-02-01'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Turn in the following homework on Box by 11:59 pm:</p>
<ul>
<li><strong>Graduate Students:</strong>
<ul>
<li>Graduate students should do Railsback &amp; Grimm, Ex. 5.11</li>
</ul></li>
</ul>
<div id="notes-on-homework" class="section level3">
<h3>Notes on Homework:</h3>
<ul>
<li><strong>Everyone:</strong></li>
<li><strong>Undergraduates:</strong></li>
<li><p><strong>Graduate Students:</strong>You can download the journal article for this exercise, <a href="/files/models/chapter_05/Jovani_Grimm_2008_Breeding.pdf">R. Jovani &amp; V. Grimm. (2008) “Breeding synchrony in colonial birds: From local stress to global harmony”, <em>Proc. Royal Soc. London B</em> <strong>275</strong>, 1567–63</a> from the class web site,
<a href="https://ees4760.jgilligan.org/files/models/chapter_05/Jovani_Grimm_2008_Breeding.pdf" class="uri">https://ees4760.jgilligan.org/files/models/chapter_05/Jovani_Grimm_2008_Breeding.pdf</a>.</p>
<p><strong>Errata for homework exercise:</strong></p>
<ul>
<li>The parameter <code>SD</code> should have a value of 10.0, not 1.0.</li>
</ul></li>
</ul>
</div>
</div>
