---
title: Experimenting with NetLogo
due_date: '2018-01-23'
assignment_number: 4
weight: 4
slug: homework_04
pubdate: '2018-01-01'
date: '2018-01-23'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Make a folder called “HW_4” in your Box folder and upload your work when you’re done (Word or text files for the descriptions and ODD document, and <code>.nlogo</code> files for your NetLogo models).</p>
<ul>
<li><p>Railsback &amp; Grimm, Chapter 2, exercises Exercises 3–4.</p>
<p>For exercise 4 in chapter 2, you will make seven sequential modifications of the basic mushroom hunt model. Each step modifies the previous one, so the last model will have all the modifications from the bulleted list in Ex. 2.4. Save each model with a new name, such as <code>ex_2_4a.nlogo</code>, <code>ex_2_4b.nlogo</code>, , <code>ex_2_4g.nlogo</code></p></li>
<li><p>Railsback &amp; Grimm, Chapter 3 exercise 3.</p>
<p>Write your answers in any convenient text format (a simple text file, a Word document, a <code>.pdf</code> file, or whatever suits you). Call the file <code>ex_3_3.docx</code> (or <code>ex_3_3.pdf</code>, etc.).</p></li>
</ul>
<div id="notes-on-homework" class="section level3">
<h3>Notes on Homework:</h3>
<p>My advice for Chapter 3, Exercise 3 is don’t be too ambitious with your model, but keep it very
simple. Don’t worry about getting everything right. If there are things you don’t feel sure about or
don’t know how to express, you should just write a parenthetical note in your ODD document commenting
on your difficulty. Come to class prepared to talk about how this exercise went and where
you felt confused about trying to specify your model.</p>
<p>As always, I recommend working with another classmate or in a group, comparing your different ways of approaching the exercises, and discussing any difficulties together.</p>
</div>
</div>
