---
title: Testing and Debugging
due_date: '2018-02-13'
assignment_number: 7
weight: 8
slug: homework_07
pubdate: '2018-01-01'
date: '2018-02-13'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>Turn in the following homework on Box by 11:59 pm:</p>
<ul>
<li><strong>Everyone:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 6, Ex. 6.2, 6.3, 6.5</li>
</ul></li>
<li><strong>Graduate Students:</strong>
<ul>
<li>Railsback &amp; Grimm, Ch. 6, Ex. 6.4, 6.7</li>
</ul></li>
</ul>
</div>
