---
title: Becoming familiar with NetLogo
due_date: '2018-01-18'
assignment_number: 3
weight: 3
slug: homework_03
pubdate: '2018-01-01'
date: '2018-01-18'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="homework" class="section level2">
<h2>Homework</h2>
<p>This homework consists of reading and working through tutorials, so there is nothing to turn in.</p>
<ul>
<li>Everyone should do exercises 1–2 in Chapter 2 of Railsback &amp; Grimm. This consists of reading and working through tutorials, so there is nothing to turn in.</li>
</ul>
</div>
