---
title: Analysis of Published Model
due_date: '2018-02-22'
weight: 11
slug: model_analysis
pubdate: '2018-01-01'
date: '2018-02-22'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="analysis-of-published-model" class="section level2">
<h2>Analysis of Published Model</h2>
<p>Turn in the following <del>before class on Thursday, Feb. 22:</del>
<strong>Extension:</strong> by the end of the day (i.e., before midnight) Sunday Feb. 25.</p>
<ul>
<li>Writeup of the published model you will use for your semester research
project. See the details in the
<a href="/assignment/ResearchProjectAssignment.pdf">Detailed project assignment</a> at
<a href="https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf</a></li>
</ul>
</div>
