---
title: Research project presentations
due_date: '2018-04-17'
weight: 15
slug: project_presentations
pubdate: '2018-01-01'
date: '2018-04-17'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="research-project-presentations" class="section level2">
<h2>Research Project Presentations</h2>
<p>On April 17–19, you will present your semester research project. Each student
will have 10 minutes to present your project:</p>
<ul>
<li>The big question you were asking</li>
<li>What you learned from running experiments with your model.</li>
</ul>
</div>
<div id="research-project-paper" class="section level2">
<h2>Research Project Paper</h2>
<p>On April 27, you should turn in to your folder on Box a formal paper on your
project.</p>
<p><a href="/assignment/ResearchProjectAssignment.pdf">Detailed project assignment</a>
<a href="https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf</a></p>
</div>
