---
title: Research project ODD
due_date: '2018-03-16'
weight: 13
slug: project_odd
pubdate: '2018-01-01'
date: '2018-03-16'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="research-project-odd" class="section level2">
<h2>Research Project ODD</h2>
<p>Turn in the following homework on Box by 11:59 pm on Friday, Mar. 16:</p>
<ul>
<li>Turn in the ODD for your research project, which extends the published
model to investigate new questions.</li>
</ul>
<p><a href="/assignment/ResearchProjectAssignment.pdf">Detailed project assignment</a>
<a href="https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf</a></p>
</div>
