---
title: Research project proposal
due_date: '2018-02-09'
weight: 7
slug: project_proposal
pubdate: '2018-01-01'
date: '2018-02-09'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="research-assignment-proposal" class="section level2">
<h2>Research Assignment Proposal</h2>
<p>Turn in the following homework on Box by 11:59 pm on Friday, Feb. 9:</p>
<ul>
<li>Turn in a one-page research project proposal</li>
</ul>
<p><a href="/assignment/ResearchProjectAssignment.pdf">Detailed project assignment</a>
<a href="https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/ResearchProjectAssignment.pdf</a></p>
</div>
