---
title: Team Modeling Project
due_date: '2018-02-27'
weight: 12
slug: team_project
pubdate: '2018-01-01'
date: '2018-02-27'
output:
  blogdown::html_page:
    md_extensions: +tex_math_single_backslash+compact_definition_lists
---



<div id="team-modeling-project" class="section level2">
<h2>Team Modeling Project</h2>
<div id="presentations" class="section level3">
<h3>Presentations:</h3>
<p>On Feb. 27, each team will give a 10-minute presentation on your modeling
project</p>
</div>
</div>
<div id="write-up" class="section level2">
<h2>Write-up</h2>
<p>By 11:59 pm on Feb. 27,
each team should turn in a write-up on the procedures, results, and
interpretation of the textbook exercises associated with this project.
Inlcude the NetLogo model or models that you used for the exercises.</p>
</div>
<div id="full-assignment-sheet" class="section level2">
<h2>Full Assignment Sheet</h2>
<p>The <a href="/assignment/TeamProjectAssignment.pdf">full assignment sheet</a> is at
<a href="https://ees4760.jgilligan.org/assignment/TeamProjectAssignment.pdf" class="uri">https://ees4760.jgilligan.org/assignment/TeamProjectAssignment.pdf</a></p>
</div>
