<table class="table">
  <tr>
    <th style="width:30%">Date</th>
    <th style="width:50%">Lesson</th>
    <th style="width:5%">Reading</th>
    <th style="width:5%">Lecture</th>
    <th style="width:5%">Assignment</th>
  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <td align="right">{{ dateFormat "Monday, Jan 2, 2006" .date }}</td>
      <td><b>{{ .title }}<b/></td>
      {{ if .reading }}
      <td align="center"><a href="{{ .reading }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .lecture }}
      <td align="center"><a href="{{ .lecture  }}">
          <i class="fa fa-comment fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-comment fa-lg"></i></font></td>
      {{ end }}

      {{ if .assignment }}
      <td align="center"><a href="{{ .Site.baseurl }}/assignment/{{ .assignment }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
    </tr>
    {{ end }}
  {{ end }}

</table>
